.card {
    width: calc(100% - 35px);
    padding: 10px;
    margin: 5px;
    width: calc(100% - 35px);
    box-shadow: 0 0 4px 0 #ccc;;
    transition: 0.3s;
    margin: 5px;
    margin-bottom: 10px;
    height: 200px;
    max-height: 200px;
}

.card:hover {
    background: #ccc;
}

.buttons {
  padding-top: 15px;
}

.card__btn {
  border: 1px solid #ccc;
  background: #eee;
  color: black;
  display: inline-block;
  padding: 7px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 5px;
}

.card__btn:hover {
  background: grey;
  color: white;
}